.page-promo {
    color: $color-black;
    margin-bottom: 100px;
    text-align: center;

    &__title {
        font-size: 56px;
        line-height: 1.4;
        font-weight: 700;
        margin-bottom: 36px;
        width: 100%;

        @media (max-width: $md) {
            font-size: 36px;
            margin-bottom: 20px;
        }

        &::before {
            display: none;
        }
    }

    &__text {
        max-width: 520px;
        margin: 0 auto 85px;
        @media (max-width: $md) {
            margin-bottom: 20px;
        }
    }

    @media (max-width: $md) {
        margin-bottom: 50px;
    }
}