.person {
    margin-bottom: 100px;

    &__subtitle {
        margin-bottom: 24px;
    }

    &__text {
        max-width: 470px;
        margin-bottom: 80px;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, 282px);
        gap: 24px;
        justify-content: center;
    }

    &__item {
        padding-top: 14px;
        background: $color-bg;
        position: relative;
        transition: transform .2s ease-in, outline .2s ease-in;

        &:hover{
            transform: translate(-10px, -10px);
            outline: 2px solid #000;

            .person__box   {
                box-shadow: 5px 5px 0 #000;
            }

            @media (max-width: 400px) {
               transform: none;
            }
        }
    }

    &__img {
        height: 386px;
    }

    &__box {
        padding: 18px 16px;
        background: #fff;
        position: absolute;
        right: 12px;
        left: 12px;
        bottom: 12px;
        transition: transform .2s ease-in, outline .2s ease-in;
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: $color-secondary;
        display: block;
    }

    &__job {
        font-size: 16px;
    }

    @media (max-width: $md) {
        margin-bottom: 50px;
    }
}