.portfolio-details {
    margin-bottom: 100px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        margin-bottom: 80px;

        @media (max-width: $md) {
            margin-bottom: 40px;
            gap: 20px;
        }

        @media (max-width: $sm) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        &:first-child {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: $color-secondary;
        margin-bottom: 24px;
    }

    &__text {
        &+.portfolio-details__text {
            margin-top: 60px;
            @media (max-width: $md) {
                margin-top: 25px;
            }

            @media (max-width: $md) {
                margin-top: 0;
            }
        }

        @media (max-width: $md) {
            margin-bottom: 25px;
        }
    }

    &__box {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        gap: 5px 15px;
        flex-wrap: wrap;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 32px;

        @media (max-width: $md) {
            margin-bottom: 50px;
            grid-template-columns: 1fr;
        }
    }

    &__pic {
        &:nth-child(3) {
            grid-column: 1/-1;
        }
    }

    &__img {
        max-height: 513px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    @media (max-width: $md) {
        margin-bottom: 50px;
    }
}   