.service {
    margin-bottom: 160px;

    @media (max-width: $md) {
        margin-bottom: 50px;
    }

    &__inner {
        max-width: 883px;
        background: $color-white;

        @media (max-width: $lg) {
            max-width: 100%;
        }
    }

    &__subtitle {
        margin-bottom: 24px;
    }

    &__text {
        max-width: 470px;
        margin-bottom: 40px;

        @media (max-width: $md) {
            margin-bottom: 20px;
            max-width: 100%;
        }
    }

    &__img {
        background: url(../images/service-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 525px;
        max-width: 1076px;
        margin-left: auto;
        position: relative;
        z-index: -1;
        margin-top: -173px;

        @media (max-width: $lg) {
            max-height: 300px;
            max-width: 100%;
            margin-top: 0;
            z-index: initial;
        }

        @media (max-width: $md) {
            display: none;
        }
    }
}