<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top-inner">
                <p class="footer__slogan">
                    let's discuss making your interior like a dream place!
                </p>
                <div class="footer__top-box">
                    <p class="footer__top-text">
                        Contact us below to work together to build your amazing interior
                    </p>
                    <a class="footer__btn btn" href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-inner">
                <div class="footer__item">
                    <a class="logo" href="#">
                        <img class="logo__img" src="@images/logo.svg" alt="logo Dananz">
                    </a>
                    <span class="footer__bottom-text">
                        One of the best furniture agency.
                    </span>
                </div>
                <div class="footer__item">
                    <form class="footer__form" action="#">
                        <label class="footer__form-label">
                            <span>Enter your email to get the laterst news</span>
                            <input class="footer__form-input" type="email" placeholder="Email Address">
                        </label>
                        <button class="footer__form-btn" type="submit">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.66699 16H25.3337" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M16 6.66663L25.3333 16L16 25.3333" stroke="black" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </form>
                    <div class="footer__social">
                        <span class="footer__social-text">Follow us On</span>
                        <ul class="footer__social-list">
                            <li class="footer__social-item ">
                                <a class="footer__social-link footer__social-link--facebook" href="#"
                                    target="_blank"></a>
                            </li>
                            <li class="footer__social-item ">
                                <a class="footer__social-link footer__social-link--instagram" href="#"
                                    target="_blank"></a>
                            </li>
                            <li class="footer__social-item ">
                                <a class="footer__social-link footer__social-link--tiktok" href="#" target="_blank"></a>
                            </li>
                            <li class="footer__social-item ">
                                <a class="footer__social-link footer__social-link--youtube" href="#"
                                    target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<script src="./js/main.min.js"></script>
</body>

</html>