<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <nav class="nav">
                    <a class="logo" href="index.html">
                        <img class="logo__img" src="@images/logo.svg" alt="logo Dananz">
                    </a>
                    <ul class="nav__list">
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="index.html">Home</a>
                        </li>
                        <li class="nav__list-item">
                            <span class="nav__list-link nav__list-link--acitve">About Us</span>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="services.html">Services</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="team.html">Our Teams</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-btn btn" href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                    <button class="mobile__btn">
                        <span></span>
                    </button>
                </nav>
            </div>
        </header>